/**
    main project stylesheet
*/

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* { box-sizing: border-box }

body {
    font-family: 'Lato', sans-serif;
    max-width: 100vw;
    margin: 0;
    padding: 1.5rem;
}

h1 { 
    font-size: 1.4rem; 
    font-family: 'Quicksand';
    font-weight: bold;
    text-align: center;
}

h2 { 
    font-size: 1.2rem; 
    font-family: 'Quicksand';
    font-weight: medium;
}

h3 { 
    font-size: 1.1rem; 
    font-family: 'Quicksand';
    font-weight: light;
    margin: 0;
}

@import './cardStack.css';

.searchwrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.deckwrapper {
    padding-right: 10rem;
}

.roundwrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
}

.cardwrapper {
    margin: 1rem 0;
    padding: 1rem;
}

.searchcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    min-height: 15rem;
    height: 20rem;
    min-width: 10rem;
    width: 15rem;
    margin: 10px;
    padding: 10px;

    background-color: beige;
    border-radius: 15px;
    box-shadow:  -5px 5px 5px rgb(180, 180, 180);

    transition: all 0.25s;
}

.basics {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 5px;
    min-height: 10rem;
    width: 100%;

    background-color: white;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
}

.name {
    margin-bottom: 1rem;
}

.bio {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Lato', Tahoma, sans-serif;
    font-size: 0.8rem;
    text-align: center;
}

.card .image {
    width: 100%;
    height: 6rem;
    overflow: hidden;
    object-fit: contain;
}

.deckcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

/* .deckcards .card {
    margin-right: -10rem;
} */

.deckwrapper .cardwrapper .discard {
    display: none;
}
.deckwrapper .cardwrapper:hover .discard {
    display: inline;
    position: relative;
    top: -100%;
}

.deckcards .card:hover, .deckcard:focus {
    z-index: 1;
    transform: scale(1.1);
}

button {
    border: 2px solid orange;
    background-color: orange;
    color: white;
    font-family: 'Lato';
    font-weight: medium;
    text-align: center;
    min-width: 50px;
    padding: 5px 5px;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    transition-duration: 0.4s;
}

button:disabled {
    background-color: lightgrey;
    border: 2px solid lightgrey;
}

button:disabled:hover {
    background-color: lightgrey;
    border: 2px solid lightgrey;
    color: white;
}

.cardbutton {
    margin-left :auto;
    margin-right: auto;
    align-self: center;
}
button:hover {
    border: 2px solid orange;
    background-color: white;
    color: orange;
}

.versusleft, .versusright {
width: 50%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        font-size: 1rem;
    }
    h1 { 
        font-size: 1.2rem; 
    }
    h2 { 
        font-size: 1rem; 
    }

    h3 { 
        font-size: 1rem; 

    }

    .card { 
        height: 16rem;
        width: 12rem;
        margin: 0.8rem;
        padding: 0.5rem;
    }

    .name {
        margin-bottom: 0.5rem;
    }

    .card img {
        height: 50px;;
    }

    .bio {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .roundwrapper {
        flex-direction: column;
    }
    
    .versusleft, .versusright {
        width: 100%;
    }
  }