.cardStack {
  width: auto;
  display: flex;
  justify-content: flex-start;
  padding: 4rem;
  margin: 0 -4rem;
  width: calc(100% + 8rem);
  padding-right: 16rem;
  overflow-x: auto;
  overflow-y: visible;
}

.stackedCardWrapper {
  width: 15rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -12rem;
  position: relative;
  z-index: 100;
  transition: margin-right 300ms, transform 300ms;
  animation: cardAppearInStack 300ms 1 ease-out;
}

.stackedCardWrapper .card {
  box-shadow: 
    -5px 5px 20px 5px rgba(0,0,0,0.1), 
    -6px 1px 10px -6px rgba(0,0,0,0.5);
}

.stackedCardWrapper:not(:last-child):hover {
  margin-right:2rem;
}

.stackedCardWrapper:hover {
  transform: scale(1.2) !important;
}

/* Pseudo-random rotations */
.stackedCardWrapper:nth-of-type(2n) {
  transform: rotate(3deg)
}
.stackedCardWrapper:nth-of-type(3n) {
  transform: rotate(-6deg)
}
.stackedCardWrapper:nth-of-type(5n) {
  transform: rotate(6deg)
}
.stackedCardWrapper:nth-of-type(13n) {
  transform: rotate(-10deg)
}


@keyframes cardAppearInStack {
  from {
    position: relative;
    opacity: 0;
    bottom: -6rem;
  }

  to {
    position: relative;
    opacity: 1;
    bottom: 0;
  }
}