.deckwrapper {
  position: fixed;
  bottom: 0;
  left:0; 
  right: 0;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  border-top: solid 1px orange;
  background: #ffffff;
}

.deckwrapper h2 {
  position: relative;
  z-index: 1000000;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: solid 1px orange;
  border-radius: 1rem;
  background: white;
  height: 2.5rem;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.3)
}

.deckwrapper .cardStack {
  position: absolute;
  bottom: -18rem;
  left: 2rem;
  right: 2rem;
  transition: bottom 300ms ease-in-out
}

.deckwrapper .cardStack:hover {
  bottom: -2rem;
}